@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Spartan;
    font-weight: 500;
    font-size: 12px;
  }
  .underlineStroke {
    @apply relative after:pointer-events-none after:transition-opacity after:opacity-0 hover:after:opacity-100 after:absolute after:-bottom-[5px] after:left-0 after:right-0 after:h-[3px] after:bg-white;
  }
}
